<div class="my-card">

  <h2 class="border-bottom pb-3 mb-3">Your booking was successful.🎉 Waiting for approval.</h1>
  <div class="booking-infos border-bottom pb-3 mb-3">
    <p><strong>Checkin-Time:</strong> <%= @booking.checkin_date %></p>
    <p><strong>Checkout-Time:</strong>  <%= @booking.checkout_date %></p>
    <p><strong>Booking Status:</strong>  <%= @booking.booking_status %></p>
  </div>

  <div class="yoga-studio-infos border-bottom pb-3 mb-3">
    <p><strong>Name of the yoga studio:</strong>  <%= @booking.yoga_studio.name %></p>
    <p><strong>Description:</strong>  <%= @booking.yoga_studio.description %></p>
    <p><strong>Address:</strong> <%= @booking.yoga_studio.address %></p>
    <p><strong>Price per hour:</strong>  <%= @booking.yoga_studio.price_per_hour %>€</p>
    <p><strong>Size:</strong>  <%= @booking.yoga_studio.size_in_m2 %> m²</p>
  </div>
  <h4><strong>TOTAL: <%= ((@booking.checkout_date - @booking.checkin_date)/60/60)*@booking.yoga_studio.price_per_hour %>€</strong></h5>
</div>
