 <br>

 <%= link_to "Login", new_user_session_path, class: "text-decoration-none m-1 btn-login-home btn-login", style: "top: 22px;" %>
 <div class="hero px-4 text-center text-light mb-3" style="margin-top: 14%;">
     <div style="z-index: -1; background-color: rgba(0,0,0,0.7); width: 100vw; height: 100vh; position: absolute; top: 0px; left:0px;"></div>
   <h1 class="display-5 fw-bold pt-5 mb-5">
     Find Your Perfect <span class="mov"> </span>
   </h1>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".mov",{
    strings: [,  "Yoga Studio","Workshop Space","Practice Room"] ,
    typeSpeed: 50,
    backSpeed: 50,
    loop: true

    })
</script>
   <div class="col-lg-6 mx-auto">
     <img src="https://wallpapercave.com/wp/wp3157183.jpg" alt="" style='position: absolute; left: 0px; z-index: -1; top: 0px; height: 100vh; width: 100vw; z-index: -2;'>
<div class="search-form-control form-group d-flex justify-content-center">
  <div class="col-12">
    <%= simple_form_for :search, url: yoga_studios_path, method: :get do |f| %>
      <div class="input-group">
        <input class="form-control string required shadow-sm pl-5  rounded-pill search-font"  placeholder="Search for yoga studios" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn">
          <i class="fas fa-search" style="display: block; margin-top: -15px;"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
 </div>
 <br>
 </div>

     </div>
   </div>
  <div class="most-popular mb-5" style="margin-top: -60px;">
 <h2 class="text-center mb-5" style="color: black; text-align: left;"> Most popular studios</h2>
 <div class="container text-center mb-3">
   <div class="row row-cols-1 row-cols-md-3 g-4">
     <div class="col">
       <div class="card-product shadow-sm rounded-4" data-aos="zoom-in"><%= cl_image_tag @yoga_studios[0].photos.first.key, height: 300, width: 416, crop: :fill %> <div class="card-body">
           <h5 class="card-title" style="margin-bottom: 40px;"><%= @yoga_studios[0].name %> </h5>
           <%= link_to "Book",  yoga_studio_path(@yoga_studios[0]), class: "btn-flat text-decoration-none", style: "padding-left: 40px !important; padding-right: 40px !important;" %>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card-product shadow-sm rounded-4" data-aos="zoom-in"><%= cl_image_tag @yoga_studios[1].photos.first.key, height: 300, width: 416, crop: :fill %> <div class="card-body">
           <h5 class="card-title" style="margin-bottom: 40px;"><%= @yoga_studios[1].name %> </h5>

           <%= link_to "Book",  yoga_studio_path(@yoga_studios[1]), class: "btn-flat text-decoration-none", style: "padding-left: 40px !important; padding-right: 40px !important;" %>
         </div>
       </div>
     </div>
     <div class="col">
       <div class="card-product shadow-sm rounded-4" data-aos="zoom-in"><%= cl_image_tag @yoga_studios[2].photos.first.key, height: 300, width: 416, crop: :fill %> <div class="card-body">
           <h5 class="card-title" style="margin-bottom: 40px;"><%= @yoga_studios[2].name %> </h5>

           <%= link_to "Book",  yoga_studio_path(@yoga_studios[2]), class: "btn-flat text-decoration-none", style: "padding-left: 40px !important; padding-right: 40px !important;" %>
         </div>
       </div>

    </div>
 </div>
