<!--hero element-->
  <div class="hero px-4 text-center text-white mb-3">
    <br>
    <br>
    <br>
    <br>
    <br>
      <h1 class="display-5 fw-bold pt-5"><p><p></p></p>Find Your Perfect Practice Space</h1>
      <br>
      <br>
      <div class="col-lg-6 mx-auto">
      <img src="https://images.unsplash.com/photo-1593810451137-5dc55105dace?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80" alt="" style='position: absolute; left: 0px; z-index: -1; top: 0px; height: 100vh; width: 100vw;'>
        <p class="lead mb-4">ZenRental simplifies the process of finding and booking a yoga studio. Enjoy peace of mind and focus on your well-being as a student, or as a yoga instructor, list your studio hassle-free. <br><br>Join us today and discover your Zen.</p>
        <br>
        <br>
          <%= link_to "Browse Studios",  yoga_studios_path, class: "btn-login" %>
      </div>
  </div>
        <br>
        <br>
        <br>
        <br>
        <h2> Most popular studios</h2>
  </div>
<!--cards-->
<div class="container text-center mb-3">
 <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card-product shadow-sm rounded-4">
      <%= cl_image_tag @yoga_studios[0].photos.first.key, height: 300, width: 416, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><%= @yoga_studios[0].name %></h5>
        <p class="card-text"><%= @yoga_studios[0].address %></p>
        <p class="card-text"><%= @yoga_studios[0].size_in_m2 %>m2</p>
        <br>
        <p><%= link_to "Book",  yoga_studio_path(@yoga_studios[0]), class: "btn-flat" %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-product shadow-sm rounded-4">
      <%= cl_image_tag @yoga_studios[1].photos.first.key, height: 300, width: 416, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><%= @yoga_studios[1].name %></h5>
        <p class="card-text"><%= @yoga_studios[1].address %></p>
        <p class="card-text"><%= @yoga_studios[1].size_in_m2 %>m2</p>
        <br>
        <p><%= link_to "Book",  yoga_studio_path(@yoga_studios[1]), class: "btn-flat" %></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card-product shadow-sm rounded-4">
      <%= cl_image_tag @yoga_studios[2].photos.first.key, height: 300, width: 416, crop: :fill %>
      <div class="card-body">
        <h5 class="card-title"><%= @yoga_studios[2].name %></h5>
        <p class="card-text"><%= @yoga_studios[2].address %></p>
        <p class="card-text"><%= @yoga_studios[2].size_in_m2 %>m2</p>
        <br>
        <p><%= link_to "Book",  yoga_studio_path(@yoga_studios[2]), class: "btn-flat" %></p>
      </div>
    </div>
  </div>
</div>
</div>
